@layer fonts {
  /* noto-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/noto-sans-v42-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/noto-sans-v42-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/noto-sans-v42-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}
@layer global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    width: 100%;
  }
  .light-bg {
    background: lightgray;
  }
}
@layer header {
  header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.4rem;
    margin: 1rem auto;
    border-radius: 12px;
  }
  #to-light {
    display: none;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
  }
  #to-dark {
    border: none;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
  }
  #to-dark:hover {
    background: darkgray;
  }
}
@layer hero {
  #hero {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
  }
  #hero button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.4rem;
  }
  #hero button:hover {
    background: red;
  }
  .active-filter {
    background: red;
  }
}
@layer extensions-list {
  #extensions-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90vw;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .extension {
    background: white;
    padding: 0.7rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    gap: 1rem;
  }
  .extension__details {
    display: flex;
    gap: 1rem;
  }
  .extension__name {
    font-size: 1.2rem;
    margin-block: 0.3rem;
  }
  .extension__description {
    color: grey;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .remove-btn {
    background: white;
    border-radius: 20px;
    padding: 0.5rem 0.7rem;
    border: 1px solid grey;
    cursor: pointer;
  }
  .remove-btn:hover {
    background: red;
    color: white;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: red;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px red;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
